# Name: DecoJ_Client
# Author: Jeffrey Kuhn
# Version: 1.0
# Date: 03/24/2005
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM decoj_client.jar *"

Plugins>DecoJ, "Rotationally Avg PSF",      kuhnlab.decoj.client.RotAvg_PSF("")
Plugins>DecoJ, "Shift PSF",                 kuhnlab.decoj.client.Shift_PSF("")
Plugins>DecoJ, "Auto Shift PSF",            kuhnlab.decoj.client.Auto_Shift_PSF("")
Plugins>DecoJ, "Auto Shift and Crop PSF",   kuhnlab.decoj.client.Auto_Shift_And_Crop_PSF("")
Plugins>DecoJ, "-"
Plugins>DecoJ, "Options Editor...",         kuhnlab.decoj.client.Options_Editor("")
Plugins>DecoJ, "-"
Plugins>DecoJ, "Deconvolve Stack",          kuhnlab.decoj.client.Deconvolve_Stack("")
Plugins>DecoJ, "Deconvolve Batch",          kuhnlab.decoj.client.Deconvolve_Batch("")
Plugins>DecoJ, "-"
Plugins>DecoJ, "Correct Exposure Avg",      kuhnlab.decoj.client.Correct_Exposure_Avg("")
Plugins>DecoJ, "Correct Exposure Max",      kuhnlab.decoj.client.Correct_Exposure_Max("")
Plugins>DecoJ, "Correct Exposure Mode",     kuhnlab.decoj.client.Correct_Exposure_Mode("")
Plugins>DecoJ, "Correct Exposure SD",       kuhnlab.decoj.client.Correct_Exposure_SD("")
Plugins>DecoJ, "-"
Plugins>DecoJ, "Project 4D",                kuhnlab.decoj.client.Projector_4D("")
Plugins>DecoJ, "Project 4D 32-bit",         kuhnlab.decoj.client.Projector_4D_Float("")

